# Airflow Configuration
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# CUDA Configuration (set to false if no GPU available)
USE_CUDA=false

# Environment
COMPOSE_PROJECT_NAME=velib
