geopandas<=1.0.1
imbalanced-learn
ipython
joblib
json5
jupyter
keras
matplotlib<=3.10.1
matplotlib-inline<=0.1.7
numpy
pandas<=2.2.3
plotly
psycopg2-binary
requests
scikit-learn<=1.6.1
scipy<=1.15.2
seaborn
statsmodels
streamlit
tensorflow<=2.19.0
xgboost<2.2
requests
pytables